.main-section {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100vh;
  padding-top: 56px;
}

.main-aside {
  display: table-cell;
  width: 320px;
  height: 100%;
  background: #474ca0;
  color: white;

  .nav-link {
    position: relative;
    color: rgba(white, 0.5);
    border-left: 5px solid transparent;

    &:hover,
    &:focus {
      color: rgba(white, 0.75);
    }

    &.active {
      color: white;
      background: rgba(black, 0.1);
      border-color: #ec405a;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        border-right: 8px solid;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
    }
  }
}

.main-container {
  padding: 16px;
}
