<app-header></app-header>
<div class="main-section">
  <aside class="main-aside">
    <ul class="nav flex-column">
      <li><a class="nav-link active" [routerLink]="''">Dashboard</a></li>
      <li><a class="nav-link" [routerLink]="''">Dashboard</a></li>
      <li><a class="nav-link" [routerLink]="''">Dashboard</a></li>
      <li><a class="nav-link" [routerLink]="''">Dashboard</a></li>
      <li><a class="nav-link" [routerLink]="''">Dashboard</a></li>
    </ul>
  </aside>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
